.env
.log


Notebooks/wandb/wandb/
Notebooks/wandb/debug-cli.root.log
Notebooks/wandb/.ipynb_checkpoints/
Notebooks/wandb/debug-internal.log

**/*.jpg
**/*.jpeg
**/*.png
**/*.log
**/*.csv

**/*.zip
**/*.safetensors
**/*.pth
**/*.pt
**/*.pkl
**/*.h5
**/*.hdf5
**/*.onnx
**/*.bin
**/*.keras

logs/*

**/__pycache__/
**/*.pyc
**/*.pyo
**/.ipynb_checkpoints/
**/.pytest_cache/pytorch/wandb_lean/vit-emotion-classification/*.safetensors

aws/*